
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<button class="btn btn-md btn-warning btn-block" type="Submit">USUARIO</button>
<div id="menu">
    <ul>
        <b>Bienvenido :</b><p th:text="${user.name}"></p>
        <li><a th:href="${'/logout'}">Cerrar sesión</a></li>
        <li><a th:href="${'/pedido/new'}">Nuevo pedido</a></li>
        <li><a th:href="${'/user/pedidos'}">Lista de pedidos</a></li>
        <li><a th:href="${'/editUser'}">Editar ciudad</a></li>

    </ul>
</div>
</body>
</html>